# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Environment files
backend/.env

# Node
frontend/node_modules/

# React build
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db